.custom-card {
    width: 80%; /* Adjust the width as needed */
    max-width: 500px; /* Set the maximum width */
    height: auto; /* Allow the height to adjust based on content */
    background-color: rgba(10, 27, 27, 0.8);
    border: 2px solid #333;
    
    margin: auto; 
  }
  
  .custom-heading {
    font-size: 28px; 
  }
  
  .center-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }